html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}
  
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
nav {
    width: 100%;
    background-color: navy;
    padding-left: 30px;
    padding-right: 10px;
}

nav > a {   
    display: flex;
    text-decoration: none;
    padding-top: 10px; 
}

a > .title {   
    color: white;
    font: 2.5em Arial, sans-serif;
    margin: 0 15px 0 15px;
    vertical-align: middle;
}

.logo img {
    width: 90px;
    vertical-align: middle;
    margin: 0 5px 0 5px;
}

/* 1. Con el siguiente selector se crea una única línea 
para la barra de navegación con todos los elementos en ella*/ 


.navbar {
    display: flex;
    justify-content: space-between;
    /* 3. Indicamos al contendor principal que alinee tanto el logo
    como el contendor que tiene los items verticalmente en el centro*/
    align-items: center;
  }

/* 2. Se hace al div contenedor de los items como flex
para que todos se integren en una línea*/
.nav-links {
    display: flex;
    list-style: none;
}
  
.nav-item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
}
  
.nav-item:hover {
    background-color: white;
}
  
.nav-item:hover a {
    color: navy;
}
  
